repos:
  - repo: local
    hooks:
      # Run linter using task command
      - id: task-lint
        name: task-lint
        entry: task lint
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
      
      # Run formatter using task command
      - id: task-format
        name: task-format
        entry: task format
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
      
      # Run tests using task command
      - id: task-test
        name: task-test
        entry: task test
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-push]