extends: default

rules:
  # Allow line length up to 120 characters
  line-length:
    max: 120
    level: warning
  
  # Allow comments to be indented
  comments-indentation: disable
  
  # Allow document start
  document-start: disable
  
  # Allow truthy values
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
  
  # Allow octal values
  octal-values: disable
  
  # Allow trailing spaces in some contexts
  trailing-spaces: disable
  
  # Allow empty lines at end of file
  empty-lines:
    max-end: 2
  
  # Allow indentation with 2 spaces for YAML files
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
