extends: default

rules:
  # Line length
  line-length:
    max: 150
    level: warning
  
  # Indentation
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  
  # Comments
  comments:
    min-spaces-from-content: 1
  
  # Document start
  document-start:
    present: true
  
  # Trailing spaces
  trailing-spaces:
    level: warning
  
  # Empty lines
  empty-lines:
    max: 2
    max-start: 0
    max-end: 1
  
  # Truthy values
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
    check-keys: true
