name: "test_missing_configs"
deid_config:
  time_shift:
    method: "random_days"
    min: -365
    max: 365
io:
  data:
    input_config:
      io_type: "filesystem"
      configs:
        base_path: "./input"
        file_format: "csv"
    output_config:
      io_type: "filesystem"
      configs:
        base_path: "./output"
        file_format: "csv"
  deid_ref:
    input_config:
      io_type: "filesystem"
      configs:
        base_path: "./deid_ref"
    output_config:
      io_type: "filesystem"
      configs:
        base_path: "./deid_ref"
  runtime_io_path: "./runtime"
tables:
  users:
    name: "users"
    depends_on: []
    transformers:
      - method: "IDDeidentifier"
        uid: "id_transformer"
        depends_on: []
        configs:
          idconfig:
            uid: "user_uid"
            # Missing name
      - method: "DateTimeDeidentifier"
        uid: "datetime_transformer"
        depends_on: []
        configs:
          idconfig:
            name: "user_id"
            uid: "user_uid"
          # Missing datetime_column
      - method: "ColumnDropper"
        uid: "drop_transformer"
        depends_on: []
        configs:
          idconfig:
            uid: "drop_uid"
            # Missing name

