# Tutorial Configuration for use_cleared_config.md
# This configuration replicates the exact scenario from the quickstart tutorial

name: "users_deid_pipeline"
deid_config:
  time_shift:
    method: "shift_by_years"
    min: -5
    max: 5
io:
  data:
    input_config:
      io_type: "filesystem"
      configs:
        base_path: "./input"
        file_format: "csv"
    output_config:
      io_type: "filesystem"
      configs:
        base_path: "./output"
        file_format: "csv"
  deid_ref:
    input_config:
      io_type: "filesystem"
      configs:
        base_path: "./deid_ref"
    output_config:
      io_type: "filesystem"
      configs:
        base_path: "./deid_ref"
  runtime_io_path: "./runtime"
tables:
  users:
    name: "users"
    depends_on: []
    transformers:
      - method: "IDDeidentifier"
        uid: "user_id_transformer"
        depends_on: []
        configs:
          idconfig:
            name: "user_id"
            uid: "user_uid"
            description: "User identifier"
      - method: "DateTimeDeidentifier"
        uid: "datetime_transformer"
        depends_on: ["user_id_transformer"]
        configs:
          idconfig:
            name: "user_id"
            uid: "user_uid"
            description: "User identifier"
          datetime_column: "reg_date_time"
      - method: "ColumnDropper"
        uid: "name_drop_transformer"
        depends_on: ["datetime_transformer"]
        configs:
          idconfig:
            name: "name"
            uid: "name_drop"
            description: "User name to drop"
